@charset "utf-8";

html {overflow-x:auto!important;} /* Overflow-x auto causes issue in ie6 for help tab */

html,body {
	height: 100%;
	margin-bottom:1px;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

a, a:hover{
	color:#000000;
	text-decoration:none;
	display:block;
}

.drop {
	height:4.4em;
	margin: 0 0 0 4px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	background-color:#ffffff;
	opacity:0.92;
	filter:alpha(opacity=92);
	overflow:hidden;
	padding:0 2px 0 2px;
	position:absolute;
	width:200px;
	border: 1px solid black;
}

.drop .text {
	clear:both;
	text-align:center;
	padding:10px;
}

.drop:hover, .drop.hover {
	height:auto;
	overflow:visible;
	background-color:#ffffff;
}

.block {
	float:left;
	padding:0 10px 10px 10px;
}

.text {
	clear:both;
	text-align:center;
	padding-bottom:10px;
}

.title {
	background-color:#EDEAFF;
}

.alttitle {
	background-color:#D5D3E6;
}

.highlight {
	color:#FF0000!important;
}

.manage {
	table-layout:fixed;
	border-top:1px solid blue;
	border-left:1px solid blue;
	border-bottom:1px solid blue;
}

.manage td{
	border-top:1px solid blue;
	border-right:1px solid blue;
	margin:0;
	padding:0;
	overflow:hidden;
	vertical-align:top;
}

.manage th {
	border-right:1px solid blue;
	color:#0000FF;
}

.newtrial td, .newtrial td a{
	color:#FF0000!important;
}

.rowcollapse {
	vertical-align:top;
	max-height:1.1em;
	overflow:visible;
	padding-top:0;
	margin:0;
}

.rowcollapse:hover {
	max-height:none;
}

.bomb {
	font-size:11px;
	float:left;
	margin-top:20px;
	padding: 0 7px;
	width:auto;
	text-align:center;
}

.result {
	font-weight:bold;
	font-size:18px;
}

.norecord {
	border-right: 1px solid blue!important;
	padding:0px;
	height:auto;
	line-height:normal!important;
	background-color: #EDEAFF;
	color:#000000!important;
}

.rowcollapse:hover .upmcollapse { display: block; }

.region {
	background-color:#FFFFFF;
}

.altregion {
	background-color:#F2F2F2;
}

.downldbox {
	height:auto;
	width:310px;
	border:1px solid black;
	font-weight:bold;
}

.downldbox ul{
	list-style:none;
	margin:5px;
	padding:0px;
}

.downldbox ul li{
	width: 130px;
	float:left;
	margin:2px;
}

.sectiontitles{
    font-weight: bold;
    background-color: #A2FF97!important;
}

.rowcollapseupm {
	vertical-align:top;
	max-height:1.3em;
	overflow:visible;
	padding-top:0;
	margin:0;
}
.rowcollapseupm:hover {
	max-height:none;
}

tr.upms td {
	text-decoration:none;
	background-color:#C5E5FA;
}


.slide-out-div {
  width: 280px;
  opacity:.9;
  filter:alpha(opacity=90);
}
.table-slide{
	border:1px solid #000;
}
.table-slide td{
	border-right:1px solid #000;
	padding:8px;
	padding-right:20px;
	border-bottom:1px solid #000;
}

/* css for drag drop tab start */

.slide-out-sortdiv {width: 200px;opacity:.9;filter:alpha(opacity=90);}
/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #c5dbec; background: #dfeffc url(images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2e6e9e;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #2e6e9e; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #79b7e7; background: #d0e5f5 url(images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1d5987; }
.ui-state-hover a, .ui-state-hover a:hover { color: #1d5987; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #79b7e7; background: #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #e17009; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #e17009; text-decoration: none; }
.ui-widget :active { outline: none; }

#sortable  { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
.demo li { margin: 5px; padding: 5px; height:20px; width: 200px; cursor:move; z-index:+1; }
/* css for drag drop tab end */

#loading  {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}

.pagination {
	margin: 5px 0;
	line-height: 2em;
	width:100%;
}

.pagination a:hover {
	background-color: #BDBDBD;
	color: #000;
}

.pagination a {
	margin: 0 2px;
	border: 1px solid #CCC;
	background-color: #F2F2F7;
	font-weight: normal;
	padding: 2px 5px;
	text-align: center;
	color: #000;
	text-decoration: none;
	display:inline;
}

.pagination span {
	padding: 2px 5px;
}

/** html img,
* html .png 
{
	position:relative;
	behavior: expression((this.runtimeStyle.behavior="none")&&
	(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}*/
