@charset "utf-8";

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
}

td,th {
	vertical-align:top;
}

a, a:hover{
	color:#0000FF;
	text-decoration:none;
}
.drop {
	height:4.4em;
	display:inline-block;
	float:none;
	vertical-align:top;
	text-align:left;
	background-color:#ffffff;
	opacity:0.92;
	filter:alpha(opacity=92);
	overflow:hidden;
	padding:0 2px 0 2px;
	position:relative;
	z-index:99;
	width:200px;
	border: 1px solid black;
}

.drop .text {
	clear:both;
	text-align:center;
	padding:10px;
}

.drop:hover, .drop.hover {
	height:auto;
	overflow:visible;
}

.block {
	float:left;
	padding:10px;
}

.text {
	clear:both;
	text-align:center;
	padding-bottom:10px;
}

.title {
	background-color:#EDEAFF;
}

.alttitle {
	background-color:#D5D3E6;
}

.highlight {
	color:#FF0000!important;
}

.manage {
	font-weight:normal;
	table-layout:fixed;
}

.manage td{
	border-left:1px solid blue;
	border-bottom:1px solid blue;
	margin:0;
	padding:0;
	overflow:hidden;
}

.manage th {

	border-top:1px solid blue;
	border-bottom:1px solid blue;
	border-left:1px solid blue;
	color:#0000FF;
	text-decoration:none;
	white-space:nowrap;
}

.manage th a{
	color:#0000FF;
	text-decoration:none;
}

.newtrial td {
	color:#FF0000!important;
}

.rowcollapse {
	vertical-align:top;
	max-height:1.1em;
	overflow:visible;
	padding-top:0;
	margin:0;
}

.rowcollapse:hover {
	max-height:none;
}

.bomb {
	font-size:11px;
	float:left;
	margin-top:20px;
	padding: 0 7px;
	width:auto;
	text-align:center;
}
.result {
	font-weight:bold;
	text-decoration:underline;
	font-size:18px;
}

.secondrow th{
	width:26px;
	padding-left:0;
	padding-right:0;
	border-top:0!important;
}

.rightborder {
	border-right: 1px solid blue;
}

.norecord {
	border-bottom: 1px solid blue!important; 
	border-right: 1px solid blue!important;
	border-top:0!important;
}

.rowcollapse:hover .upmcollapse { display: block; }

.row {
	background-color:#D8D3E0;
	text-align:center;
}

.altrow {
	background-color:#C2BECA;
	text-align:center;
}

.region {
	background-color:#FFFFFF;
}

.altregion {
	background-color:#F2F2F2;
}

.box_rotate {
	-moz-transform: rotate(90deg); /* For Firefox */
	-o-transform: rotate(90deg); /* For Opera */
	-webkit-transform: rotate(90deg); /* For Safari and Chrome */
	writing-mode: tb-rl; /* For IE */
	max-width:20px;
	max-height:20px;
	margin:2px;
}

